.param{
    width: 600px;
    height: 90vh;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--background-color-1);
    color: var(--font-color);
}

.topbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.paramcontent{
    padding: 40px;
}

.closeparamicon{
    cursor: pointer;
    color: var(--font-color);
}