<div class="header">
    <div class="navbar alignitems">
        <div class="alignitems" style="float: left">
            <img src="./assets/images/logo.svg" alt="">
            <input class="searchbar" type="search" name="search" id="search">
        </div>
        <div class="alignitems" style="position: absolute;right: 20px;">
            <span class="material-icons-round icons">notifications</span>
            <span class="material-icons-round icons">settings</span>
            <span onclick="opensidebar();" style="cursor: pointer;" class="material-icons-round icons menuicon">menu</span>
            <a href="./param.html"><span onclick="closesidebar();" style="cursor: pointer;display: none;" class="material-icons-round icons closeicon">close</span></a>
        </div>
    </div>
</div>